## Import liabraries

In [1]:
## Import required frameworks
import pandas as pd
import numpy as np

## Question 1

In [2]:
## Check the version of Pandas
print(pd.__version__)

## Answer: 1.5.3

1.5.3

### Import 'housing.csv' data set

In [3]:
csv_file = 'housing.csv'
df = pd.read_csv(csv_file, delimiter=',')

# Make an overview of the data from DataFrame 'df'
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

## Question 2

In [4]:
## Compute the number of columns for Housing DataFrame
no_columns = len(df.columns)
print(no_columns)

## Answer: 10

10

## Question 3

In [5]:
## Check missing data in Housing DataFrame's columns
print(df.describe())

## Answer: The column called 'total_bedrooms' has missing data [20,433 exists over 20,640]

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

## Question 4

In [6]:
## Count the unique values for column 'ocean_proximity'
print(len(df.ocean_proximity.unique()))

## Answer: The column 'ocean_proximity' has 5 unique values

5

## Question 5

In [7]:
## Count the average value for column 'median_house_value' for house those locate near bay

# Create new filtered DataFrame with respect to houses locate near bay
near_bay_df = df[df['ocean_proximity'] == 'NEAR BAY']

# Calculate the average price for houses located near bay
avg_house_value = near_bay_df.median_house_value.mean()
print(round(avg_house_value))

## Anser: The average median price for house near bay equals to '259212'

259212

## Question 6

In [8]:
## Comare the average number of total bedrooms for homes (before / after filling the missing data) 
    

    # Step 1. Calculate the average of 'total_bedrooms'
avg_total_bebrooms = df.total_bedrooms.mean()
# print(round(avg_total_bebrooms, 3))                                                                                           ## Uncomment a line to get an intermediate Answer

## Intermediate answer: the average value of total number of bedrooms for houses is 538.871



    # Step 2. Fill all missing data (NaN) for column 'total_bedrooms' and calculate those average value
# df.total_bedrooms = df.total_bedrooms.fillna(0, inplace=True)                                                                 ## Uncomment a line to fill out all missing values from 'total_bedrooms' column

avg_total_bebrooms = df.total_bedrooms.mean()
print(round(avg_total_bebrooms, 3))

## Answer: after applying .fillna() method the average value of total number of bedrooms for houses has changed from 538.871 to 537.871

537.871

## Question 7

In [9]:
    ## Linear algebra manipulations

    # Step 1. Create a DataFrame for houses are located only on 'ISLANS'
islands_df = df[df['ocean_proximity'] == 'ISLAND']

# Make an overview of the data from DataFrame 'islans_df'
# print(islands_df.head())

    # Step 2. Select columns 'housing_median_age', 'total_rooms', 'total_bedrooms' from DataFrame 'islands_df'
selected_columns = ['housing_median_age', 'total_rooms', 'total_bedrooms']
selected_df = islands_df[selected_columns]

    # Step 3. Compute the underlying NumPy array 'X'
X = selected_df.values

    # Step 4. Compute the matrix miltiplication between 'X' and 'X-transpose' matrixes
XTX = X.T.dot(X)

    # Step 5. Compute the inverse matrix of 'XTX'
XTX_inverse = np.linalg.inv(XTX)

    # Step 6. Create an array 'y'
y = np.array([950, 1300, 800, 1000, 1300])

    # Step 7. Multiply 'X.T', 'X_inverse' matixes with each other and then multiply with an array 'y'
w = XTX_inverse.dot(X.T).dot(y)

    # Step 8. Get the last element of 'w' matrix
last_w_value = w[-1]

print("Value of the last element of 'w':", round(last_w_value, 4))

## Anser: The last values for the 'w' matrix with dimentions [1, 3] is '5.6992'

Value of the last element of 'w': 5.6992